body {
    font-family: Arial, sans-serif;
    margin: 200px;
    padding: 50px;
}

header, footer {
    background-color: #a519e6;
    color: purple;
    text-align: center;
    padding: 50px;
}

nav ul {
    list-style-type: none;
    padding: 30px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #8e21c0;
}

main {
    padding: 50px;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
}

form button {
    padding: 10px;
    margin-top: 10px;
    background-color: #710fc2;
    color: purple;
    border: none;
    cursor: pointer;
}
